<!--Navbar with backbutton and name of trip-->

<!--Map Display-->
<!--UL of destinations with icons and add to likes buttons-->
<div id="map"></div>

<div>
  <ul>
    <li *ngFor="let stop of stops">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{stop.name}}</md-card-title>
        </md-card-header>
        <md-card-content>
            <div md-card-avatar class="example-header-image">
              <img [src]="stop.photo" class="image" *ngIf="stop.photo" />
            </div>
            <div>
              Address: {{stop.address}}
            </div>
            <div>
              Price: {{stop.price}}
            </div>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
        </md-card-content>
      </md-card>
    </li>
    
  </ul>
</div>
<!--Choose as current button and add to MyTrips-->

<!--Toolbar with profile, current, mytrips, likes-->
<div>
  <app-toolbar></app-toolbar>
</div>

